@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap");
:root {
  --blue: #0970ce;
  --dark-blue: #01407a;
  --light-blue: #8bc7ff;

  --light-grey: #e6e6e6;

  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

* {
  font-family: "Hind Vadodara", sans-serif;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.title {
  color: var(--dark-blue);
}
